.avatar{
    width: 75px;
}

.navbar .container-avatar,
.container-avatar-profile{
    width: 35px;
    height: 35px;
    border-radius: 200px;
    overflow: hidden;
}

.container-avatar img{
    height: 100%;
}

.img_portfolio{
    width: 65%;
    height: 100%;
}

.pub_img{
    margin-bottom: 5%;
}

.pub_img .container-avatar-profile{
    float: left;
    margin-right: 20px;
}

.data-user{
    line-height: 0px;
}

.data-user span{
    color: gray;
}
.container-img{
    max-height: 450px;
}
.container-img img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: 50% 45%;
}

.container-desc{
    padding: 20px;
    padding-top: 5px;
}

.likes{
    padding: 7px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.likes img{
    width: 20px;
}

.date{
    float: right;
}